body {
    overflow-x: hidden;
}


i {
    transition: 0.7s;
}

i:hover {
    color: rgba(35, 20, 20, 0.746) !important;
}

#imagenPrincipal img {
    height: 100vh;
}

#reserva {
    top: 100px;

}

.titulo {
    font-size: 80px;
}

#btnReserva {
    background: rgb(24, 24, 28);
    background: linear-gradient(90deg, rgba(24, 24, 28, 1) 0%, rgba(33, 33, 70, 1) 36%, rgba(42, 49, 149, 1) 68%, rgba(2, 19, 139, 1) 100%);
}

#sectionRedes {
    background: rgb(4, 4, 4);
    background: linear-gradient(90deg, rgba(4, 4, 4, 1) 0%, rgba(0, 0, 0, 0.9) 33%, rgba(0, 0, 0, 0.742734593837535) 66%, rgba(0, 0, 0, 0.7287289915966386) 100%);
}

#redes {
    list-style: none;
    margin-left: 25%;
}


#redes .circuloRedes {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    box-shadow: -1px 1px 12px 13px rgba(6, 3, 54, 0.56);
    
}

#facebook{
    display: flex;
    justify-content: center;
    
}

ul li img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#descripcionHabitaciones img{
    width: 286px;
    height: 150px;
}


.error{ 
    border:1px solid red
}
.ok{
    border:1px solid rgba(0, 128, 0, 0.412)
}